<title>Services-Individuals | Vithal Gutti</title>

<div class="box">
  <h1>
    For Individuals/ HUF's/ Stock market traders</h1>
</div>
<section class="parent">
  <section class="child2">
   <h1>Direct Tax services (Income Tax and International Taxation)</h1>
  </section>
  <section class="child">
   <ul>
    <li>Structuring of transactions to optimize the tax</li>
    <li>Tax planning for Residents and non-residents (NRIs)</li>
<li>Preparation of tax returns</li>
<li>Representation of clients before tax Authorities</li>
<li>Certification</li>
  </ul>
  </section>
</section>

<br><br><br>
<section class="parent">
  <section class="child2">
    <h1>Indirect Tax Services (GST, Customs and FTP)</h1>
   </section>
  <section class="child">
   <ul>
    <li>Structuring of transactions to optimize the tax,if any</li>
<li>Representation of clients before tax Authorities</li>
<li>Certification</li>
  </ul>
  </section>

</section>

<br><br><br>
<section class="parent">
  <section class="child2">
   <h1>Accounting and other services</h1>
  </section>
  <section class="child">
   <ul>
    <li>Book keeping services</li>
    <li>Preparation of financial statement as per the relevant accounting policy</li>
<li>DSC.</li>
<li>Certification</li>
  </ul>
  </section>
</section>
