

<div class="section">
  <img src="https://drive.google.com/uc?export=view&id=1JVF5OlHY70b_n5OH6e8Zk5o-oBJ8Fq-1"> <br><br><br>
<h1>CA VITHAL P GUTTI </h1>
<br>
<h2>FOUNDER</h2>
<p>Vithal P Gutti & Co is a Chartered Accountant qualified in the year 2019.  Post qualification he has worked in one of the Top four companies (Deloitte) serving multinational companies in various sectors primarily including manufacturing and information technology.
  Having handled big clients and having completed multiple assignments from start to end has helped him gain knowledge and experience in the functioning of laws and regulations. Through this, he has gained expertise in matters of business function and indirect taxation
  which includes GST, Customs, FTP and various state incentives. <br><br><br>
  During his 3 years of articleship experience at Singhvi, Dev & Unni LLP he has gained knowledge in the field of Risk & Assurance, Direct Taxation and Indirect Taxation.  ​<br><br><br>
  Coming from the business background and having gained the experience of the practical matters, he decided to start his own CA practice and founded ‘Vithal P Gutti & Co’.<br><br><br>
  He believes that in today’s dynamic business environment ‘clients are not just looking out for services but are looking for solutions’.</p>
</div>
<br><br><br>
<app-footer></app-footer>
