<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<div class="box">
  <i class="fa-solid fa-bolt-lightning"></i>
  <i class="fa-solid fa-bolt"></i>

   <h1>Internship - CA Articleship</h1>
    <h2>The Opportunity</h2>
    <ul>
      <li>
        You will be responsible for executing client related engagements under the supervision
        of Seniors
      </li>
         <li>
          You will have to determine that work delivered is of high quality
         </li>
         <li>
          You shall be involved in assisting Seniors & Managers in developing new methodologies and other related internal initiatives
         </li>
    </ul>
<h2>To qualify the role you must have</h2>
<ul>
  <li>
    Intermediate atleast one group cleared
  </li>
  <li>
    No Prior experience required
  </li>
</ul>

<h2>Ideally you'll also have</h2>
<ul>
  <li>
    Strong communication, facilitation, relationship-building,
    presentation and negotiation skills
  </li>
  <li>
    Be highly flexible, adaptable, and creative
  </li>
  <li>
    Comfortable interacting with senior executives
    (within the firm and at the client)
  </li>
</ul>
  <h2>What we look for</h2>
  <p>Candidates with the ability to work in a collaborative way to provide services across multiple client departments while adhering to commercial and legal requirements. You will need a practical approach to solving issues and complex problems with the ability to deliver insightful and practical solutions</p>

    <a href="" routerLink="contact">Contact For Application</a>

  </div>
  <app-footer></app-footer>
 <style>
div {
  background-color: rgb(203, 216, 226);
 color:rgba(5, 6, 50, 0.961);
  padding: 20px;
  margin: 60px 110px;
  text-align: center;
  list-style: none;
}

@media(max-width:778px){
  div {
  background-color: rgb(203, 216, 226);
 color:rgba(5, 6, 50, 0.961);
  padding: 20px;
  margin: 10px 10px;
  text-align: center;
}

}

</style>

