<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<title>Vithal Gutti</title>
<div class="box">
  <i class="fa-solid fa-bolt-lightning"></i>
  <i class="fa-solid fa-bolt"></i>

   <h1>Chartered Accountants</h1>
  <p>  It is renowned to be one of the toughest course in India after UPSC.The person opting for this course has to clear three levels of exams, and undergo practical training of 3 years.
    The profession involves management of finances for an entity. This includes managing financial accounts, budgeting, auditing, business strategy and taxation.
    The difference between an accountant and a chartered accountant is that the latter has taken an in-depth training of years and has passed multiple exams in various aspects of accounting to earn the title of a chartered accountant.
    Chartered accountants are professionals who work in various sectors of the economy, managing the finances of an entity, providing financial advice and helping out with money management. This can be for a business, individual or government.
    Chartered accountants work in all fields of business and finance, including auditing, taxation, financial and general management. Some are engaged in public practice work, others work in the private sector and some are employed by government bodies</p>
<br><br><br>
  </div>
  <app-footer></app-footer>
 <style>
div {
  background-color: rgb(203, 216, 226);
 color:rgba(5, 6, 50, 0.961);
  padding: 20px 50px;
  margin: 50px 150px;
}

@media(max-width:778px){
  div{
    margin:0px 10px;
    padding: 0px 0px;
  }
}
</style>

