<title>CA in Hubli-Dharwad | Chartered Accountants</title>
<head>
<script src="https://kit.fontawesome.com/44f557ccce.js"></script>

</head>
<body>

    <div class="reviews2" style="width:100%" data-swiper-autoplay="9000">

      <swiper
      [loop]="true"
      [slidesPerView]="1"
      [navigation]="true"
      [autoplay]=" {delay: 5500}"
      [pagination]="true"
    >
    <ng-template swiperSlide>
      <div class="box">
        <div class="images">
          <img src="http://employmentnews.gov.in/writereaddata/19082016479885CAREERS%20IN%20TAXATION.png" alt="">
        </div>

    <div class="overlay">
      <div class="text">One point solution for all financial tax and audit compliances</div>
    </div>
  </div>

  </ng-template>

    <ng-template swiperSlide [animationEffect]="carouselAnimation">
      <div class="box">
        <img src="https://images.jdmagicbox.com/comp/service_catalogue/society-registration-consultants-9999p7622.7622.180411204020.m8v5-x8e8zgw.jpg" alt="" text="Providing end to end value services">
        <div class="overlay2">
          <div class="text2">Providing end to end services</div>
          </div>
      </div>
     </ng-template>

      <ng-template swiperSlide>
        <div class="box">
        <img src="https://www.gloverandco.com/img/main-banner-three.jpg" alt="">
        <div class="overlay3">
          <div class="text3">Timely statutory compliances</div>
          </div>
        </div>
    </ng-template>


      </swiper>
  </div>



    <br><br><br>
<div class="new">OUR TEAM</div>
<br><br><br>
  <div class="parentnew">

    <div class="child23">
      <p>FOUNDER</p>
      <p>Vithal P Gutti</p>
    </div>
    <div class="child1">
      <img src="https://drive.google.com/uc?export=view&id=1JVF5OlHY70b_n5OH6e8Zk5o-oBJ8Fq-1">
    </div>

    </div> <br><br>
    <p class="services">
      SERVICES
      </p>
      <p class="service2"> Always beyond expectations</p>


    <div class="section3"><img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2021/07/18/985823-948844-itr-filing.jpg">
      <img src="https://thumbs.dreamstime.com/b/office-life-concepts-person-drinking-coffee-using-computer-laptop-window-view-135173696.jpg">
    </div>




    <div class="section4">
      <div class="section8">
        <a routerLink="individuals">For Individuals</a>
      </div>
      <div class="section8">
        <a routerLink="business">For Business Entities</a>
      </div>
      </div>


<div class="rev-section">
  <h2 class="title">Here What Our Clients Say's</h2>
  <a href="https://www.google.com/search?q=vithal+gutti+dharwad&oq=vithal+gutti+dharwad&aqs=chrome.0.69i59.3335j0j7&sourceid=chrome&ie=UTF-8#" target="_blank">View all Google reviews</a>

  <br>

  <div class="reviews"  data-swiper-autoplay="9000">

    <swiper
    [slidesPerView]="1"
    [navigation]="true"
    [autoplay]="{delay: 10000}"
    [loop]="true"
  >

  <ng-template swiperSlide><div class="review">
    <div class="head-review">
      <img src="https://lh3.googleusercontent.com/a-/ACNPEu-lscuA9uJrc9Cfwfcsj3vM7h_hlP7iA76Adk5Byw=w54-h54-p-rp-mo-br100">
    </div>
    <div class="body-review">
      <div class="name-review">Amit K</div>
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="desc-review">
        I took vithal’s consultation on google meet, He is fast and detail oriented, loved the way he gave a quick service. At the end he presented beautiful and easy to understand report at lightning speed, which any layman could easily understand his report.
        I strongly recommend him and looking forward for many more consultations down the line.
      </div>
    </div>
    </div></ng-template>

    <ng-template swiperSlide><div class="review">
      <div class="head-review">
        <img src="https://lh3.googleusercontent.com/a-/ACNPEu-hnrLbVEISgEfyRWgyg-5r61kuFrFU8ExS5FhB2w=w54-h54-p-rp-mo-ba3-br100">
      </div>
      <div class="body-review">
        <div class="name-review">Akash T </div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
          Vithal P Gutti sir very professional and systematic.  Mine & company IT Returns was filed really quickly.  Highly recommended.  </div>
      </div>
      </div></ng-template>

    <ng-template swiperSlide><div class="review">
      <div class="head-review">
        <img src="https://lh3.googleusercontent.com/a-/ACNPEu95YDuYwuXFundTZ4JS_HdVL_hVRdjSXPmpaIGCSw=w54-h54-p-rp-mo-br100" >
      </div>
      <div class="body-review">
        <div class="name-review">R. Ayukth Krishna</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
          Professional and timely services. Never imagined that the process of filing ITR would be this smooth. Would highly recommend CA Vithal to all !
        </div>
      </div>
      </div></ng-template>
    <ng-template swiperSlide><div class="review">
      <div class="head-review">
        <img src="https://lh3.googleusercontent.com/a-/ACNPEu-3dYBrigN5EfeH6ZGwgmhgRSr35A2bDV3ervAJYg=w54-h54-p-rp-mo-br100" >
      </div>
      <div class="body-review">
        <div class="name-review">Sucheta Chandanshive</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
          I am very happy to share that I got refund of Rs.76,380/-  out of 1,97,000/- Income tax was deducted during the years 2020-21. It's all because of Vithal Gutti & Co-CA from Bijapur.
          Thanks a Ton Vithal Gutti Sir      </div>
      </div>
      </div></ng-template>
    <ng-template swiperSlide> <div class="review">
      <div class="head-review">
        <img src="https://lh3.googleusercontent.com/a-/ACNPEu9SOzn17aq-yG_FDCec8W1KqET_4kxZ9oBopYRP=w54-h54-p-rp-mo-br100">
      </div>
      <div class="body-review">
        <div class="name-review">Nikhil Parvatikar</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
          I had my tax filing done here. Highly professional and responsive behavior from Vithal over the entire process. Would recommend this place for anyone who's looking for tax/finance related services    </div>
      </div>
      </div></ng-template>
    <ng-template swiperSlide> <div class="review">
      <div class="head-review">
        <img src="https://lh3.googleusercontent.com/a-/ACNPEu-Jcqq62e7I0hJwGBecauqnL9d0qfqwqs88VDjZnw=w54-h54-p-rp-mo-br100" >
      </div>
      <div class="body-review">
        <div class="name-review">Sadanand Joshi</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
          Sri Vithal Gutti is an excellent CA I have come across during my official career.
          He helped me with great co operation in filing my ITR within few minutes.
          Very nice, polite,  Intelligent,  high grade professional.
        </div>
      </div>
      </div></ng-template>


    </swiper>
</div>
</div><br><br>

<section class="section5">
  <section class="text5">
    <h2>Contact Details</h2>
  </section>
</section>



     <section class="parent">
      <section class="child">
        <img src="https://thumbs.dreamstime.com/b/contact-us-concept-wooden-blocks-email-mail-telephone-icons-website-page-contact-us-e-mail-marketing-contact-us-192902959.jpg" alt="">
      </section>
      <section class="child2">
        <p class="vithal">Vithal P Gutti & Co <br>
         Chartered Accountants </p>
         <p>  <a href="https://maps.app.goo.gl/EP5mBZUcFXMK9mGy9" target="_blank"><i class="fa-solid fa-location-dot" id="loc"></i></a> 5th Cross C B Nagar <br>
          Dharwad 580007 <br>
          <a href="mailto:cavithalgutti@gmail.com"><i class="fa-regular fa-envelope"></i></a>  cavithalgutti@gmail.com<br>
          <a href="tel:86188662343"><i class="fa-solid fa-phone"></i> </a> +91 86186 62343</p>
        </section>
    </section>
<br><br>



    <p class="services2">
      Contact Us
    </p>
    <div class="container">
      <h2 class="text-center mb-5">Please fill the form to reach out</h2>
      <div class="row">
      <div class="col-md-6 offset-md-3">
      <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"><div class="form-group">
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
          </div>
        <label for="Email">Email</label>
      <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="fullname">Phone Number</label>
        <input type="text" class="form-control" name="Phone" placeholder="Phone" formControlName="Phone">
        </div>
      <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" formControlName="Comment" name="Comment" placeholder="Message">
      </textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
      </form>
      </div>
      </div>
      </div>


<br><br>    <app-footer></app-footer>


</body>

