

.new{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


.parentnew{
  display: flex;
  margin: 0px 250px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:20px;
}

.child1{
  float :right;
  color:rgba(5, 6, 50, 0.961);
}



.child1 img{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  height:300px;
  width:300px;
  font-weight: bold;
}

.child23{
  width:50%;
  text-align: center;
  background-color: rgb(203, 216, 226);
  color:rgba(5, 6, 50, 0.961);
  padding : 60px 0px;
  font-size: 26px;
  font-weight: bold;
}


@media(max-width:778px){
  .parentnew{
    display: block;
    margin: 0px 0px;
  }

  .child1{
    float:none;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }

  .child1 img{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    height:300px;
    width:350px;
    font-weight: bold;
    float: left;
    margin-bottom: 40px;
  }
.child23{
  width: 100%;

}

  .child23 p{
    bottom: 0;
   font-size: 26px;
   }
}

/*section 3*/

.services{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


.service2{
  text-align: center;
  font-size: 28px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}



/*services section*/

.section3{
  justify-content: space-between;
  height:360px;
  padding-left: 20px;
  color:rgba(3, 3, 70, 0.961);
}

.section3 img{
  margin-top:50px;
 height: 300px;
 margin-left: 100px;
 float:left;
 background-color: rgb(203, 216, 226);
 color:rgba(5, 6, 50, 0.961);
}


@media(max-width:778px)
{
  .section3{
    justify-content: space-around;
    padding-left: 20px;
    color:rgba(3, 3, 70, 0.961);
  }
  .section3 img{
    margin-top:50px;
   height: 300px;
   width: 300px;
   margin-left: 0px;
   float:left;
   background-color: rgb(203, 216, 226);
   color:rgba(5, 6, 50, 0.961);
  }

}


.section4{
  display: flex;
  color:rgba(3, 3, 70, 0.961);
  justify-content: space-around;
}

.section4 a{
  font-size: 20px;
  float: left;
  color:rgba(228, 228, 234, 0.961);
  font-family: 'Times New Roman', Times, serif;

}

.section4 a:link, a:visited {
 color:rgba(5, 6, 50, 0.961);
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;

}

.section4 a:hover{
  background-color: #083d5f;
  color: white;
}


@media(max-width:778px)
{
  p{
    margin :10px 10px;
  }

  h1{
    margin-top:0px;
  }

  .section3{
    height:250px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:10px;
  }

  .section3 img{
   height: 200px;
   width:200px;
   float:left;
   margin:20px 0px;
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   grid-gap:10px;
  }


.section4{
  display: block;
  color:rgba(3, 3, 70, 0.961);
  justify-content: space-around;
  margin: 0px 0px;

}
.section4 a{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(15, 128, 215, 0.386);
  color:black;
  margin: 10px 10px;
}

.section4 a:link, a:visited {
  color:black;
  text-align: center;

}

.section4 a:hover{
  background-color: #083d5f;
  color: white;
}

.title{
  margin-top: 50px;
}

}


.container {
  text-align: center;
  color: white;
  width: 100%;
}



.overlay2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;
}

.box:hover .overlay2 {
  bottom: 0;
  height: 100%;
}

.text2 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.box{
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity:1
}







.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: .9s ease;
}

.box:hover .overlay3 {
  opacity: 1;
}

.text3{
  color: white;
  font-size: 40px;
  position: absolute;
  top: 35%;
  left: 25%;
  background-color: rgba(2, 62, 97, 0.85);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding:10px;
  text-align: center;
}

.images{
  transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}










.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20%;
  background-color: rgba(2, 62, 97, 0.85);
  overflow: hidden;
  margin: 0rem 9.5rem;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.box:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color:white;
  font-size: 38px;
  position: absolute;
  top: 50%;
  left: 40%;
  margin:30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*review section*/




.rev-section{
  margin:auto;
  padding: 0 0.2rem ;
  text-align: center;
}



.reviews{
  margin:1rem 0;
  display: flex;
  transition: 0.4s ease-in-out;
}

.review{
  margin: 0 0.5rem;
  flex:1;
  width: 80%;
  margin-left: 130px;
}

.head-review{
  margin: 1.75rem auto;
}

.body-review{
  background-color: #083d5f;
  color: white;
  padding :.5rem;
  box-shadow: 3px 3px 10px 6px  rgba(240, 238, 243, 0.665);
}

.name-review{
  font: 1.5rem;
  color: rgb(251, 246, 246);
  margin-bottom: .25rem;
}


.rating{
  color: rgba(235, 246, 20, 0.601);
  margin: 1rem 0;
}

.desc-review{
  line-height:1.5rem;
  letter-spacing: 1px;
  color: white;
}

.reviews2{
  margin-top: 40px;
}

.reviews2 img{
  width:90%;
  height: 400px;
  margin-left: 70px;
  transition: 0.4s ease-in-out;
}

@media(max-width:778px){
  .review{
    margin-top: 1rem;
  }
  .reviews2 img{
    margin:0px 0px;
    width:100%
  }


  .review{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:20px;
    margin :0px 0px;
    width: 100%;
    margin-left: 0px;
  }
}

.desc-review{
  width:100%;
}


.rev-section h2{
  margin : 50px 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

.button{
  position: absolute;
}

.vithal{
  font-weight: bold;
}


@media(max-width:778px)
{
  .rev-section h2{
    margin : 50px 0px;
    margin-top: 400px;
  }
}


/* contact details sectionn*/

.parent{
  display: flex;
  margin: 0px 250px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:20px;
}

.child{
  float :right;
  color:rgba(5, 6, 50, 0.961);
}



.child img{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  height:400px;
  width:400px;
}

.child2{
  width:50%;
  text-align: center;
  background-color: rgb(203, 216, 226);
  color:rgba(5, 6, 50, 0.961);
  font-size: 18px;
  padding: 80px 60px;
}


@media(max-width:778px){
  .parent{
    display: block;
    margin: 0px 0px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }

  .child img{
    font-family: 'Times New Roman', Times, serif;
    height:240px;
    width:240px;
    margin-bottom: 30px;
  }
.child{
  width: 100%;
}

  .child2 {
    bottom: 0;
   font-size: 15px;
   padding: 10px 5px;
   width: 100%;
   }

   .vithal{
    margin-top:20px;
   }

}



.section5{
  color:rgba(5, 6, 50, 0.961);
}

.section5 .text5 h2{
  font-size: 30px;
  text-align: center;
  color:rgba(5, 6, 50, 0.961);
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}




/*  contact us section*/



.services2{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
input[type=text], select, textarea {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 16px; /* Bottom margin */
   color:rgba(3, 3, 70, 0.961);
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  border: none;
  border-radius: 4px;
  cursor:alias;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(3, 24, 40);
}

/* Add a background color and some padding around the form */
.container {
  color:rgba(5, 6, 50, 0.961);
  margin :50px 150px;
  font-family: 'Times New Roman', Times, serif;
}

.container h2{
  text-align: center;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;

}



@media(max-width:778px)
{

.services2{
  font-size: 26px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
input[type=text], select, textarea {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 16px;
   color:rgba(3, 3, 70, 0.961);
  resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  border: none;
  border-radius: 4px;
  cursor:alias;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(3, 24, 40);
}

/* Add a background color and some padding around the form */
.container {
  color:rgba(5, 6, 50, 0.961);
  margin :10px 0px;
  font-family: 'Times New Roman', Times, serif;
}

.container h2{
  text-align: center;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;

}
}