
 <title>Services-Business | Vithal Gutti</title>

<div class="box">
  <h1>
    For Business entities/ AOP/ BOI/ Trust/ Co-operative Societies</h1>
</div>
<section class="parent">
  <section class="child2">
   <h1>Direct Tax services (Income Tax and International taxation)</h1>
  </section>
  <section class="child">
   <ul>
    <li>Assistance in carrying out tax planning and tax compliance services.</li>
    <li>Structuring of transactions to optimize the tax</li>
    <li>Preparation and review of tax returns</li>
<li>Tax Audits</li>
<li>Representation of clients before tax Authorities.</li>
<li>Appellate / Litigation</li>
<li>Certification</li>
  </ul>
  </section>
</section>

<br><br><br>
<section class="parent">
  <section class="child2">
    <h1>Indirect Tax services (GST, Customs and FTP)</h1>
   </section>
  <section class="child">
   <ul>
   <li>Tax Advisory / Planning</li>
   <li>Tax Structuring and Implementation support</li>
   <li>Tax Compliances</li>
   <li>Audits/Certification</li>
   <li>tax Representation</li>
   <li>Refund applications</li>
   <li>Due Diligence</li>
   <li>Customer and vendor contract negotiations to optimise tax incidence</li>
  </ul>
  </section>

</section>

<br><br><br>
<section class="parent">
  <section class="child2">
   <h1>Business Consultancy Service (The Companies Act, RERA and others)</h1>
  </section>
  <section class="child">
   <ul>
  <li>Corporate structure advisory</li>
  <li>Providing Opinion and Certifying on the specific requirements of the business</li>
  <li>Investment advisory services.</li>
  <li>Designing budgetary and control systems.</li>
  <li>Setting of Monthly Information system</li>
  <li>Consultation in financial planning and policies.</li>
  <li>Project report</li>
  <li>Virtual CFO</li>
  </ul>
  </section>
</section>

<br><br><br>
<section class="parent">
  <section class="child2">
    <h1>Aduit and Assurance</h1>
   </section>
  <section class="child">
   <ul>
    <li>Internal audit</li>
<li>Statutory Audit as per Income Tax Act, Goods and Services Act, Companies Act, Limited Liability Partnership Act, Indian Trust Act and Co-operative Society Act.</li>
<li>Compliance Audit</li>
<li>Special Audits such as Operational Audit, Management Audit, Payroll Audit, Stock Audit, Fixed Asset Audit, Concurrent Audit and etc.</li>
<li>Analyzing your business and setting up of internal financial control to mitigate risk.</li>
  </ul>
  </section>

</section>

<br><br><br>
<section class="parent">
  <section class="child2">
   <h1>
    Accounting and Business Support Services</h1>
  </section>
  <section class="child">
   <ul>
    <li>Book keeping services.</li>
    <li>Payroll services including tax advisory services to the employees.</li>
<li>Computation of labour law taxes and filing of returns.</li>
<li>Preparation of Budgeting/Annual Operation plan</li>
<li>Preparation of financial statement as per the relevant accounting policy and statue.</li>
<li>DSC</li>
</ul>
  </section>
</section>